#title_bar {
  background-color: $title-bar-background-color;
  color: $title-bar-color;
  display: table;
  padding: 10px $horizontal-page-margin;
  width: 100%;

  h2 {
    margin: 0;
    font-size: $title-bar-heading-font-size;
  }

  .action_item {
    & > a,
    & > .dropdown_menu > a {
      @include default-button;
    }
  }
}

#titlebar_left,
#titlebar_right {
  display: table-cell;
  vertical-align: middle;
}

#titlebar_right {
  text-align: right;
}
