#title_bar {
  background-color: #eaebec;
  color: $section-header-text-color;
  display: table;
  padding: 10px $horizontal-page-margin;
  width: 100%;

  h2 {
    margin: 0;
    padding: 0;
    font-size: 2.2em;
    line-height: 100%;
    font-weight: bold;
  }

  .action_item {
    & > a,
    & > .dropdown_menu > a {
      @include default-button;
    }
  }
}

#titlebar_left,
#titlebar_right {
  display: table-cell;
  vertical-align: middle;
}

#titlebar_right {
  text-align: right;
}
